dist/
node_modules/
storybook-static/
build-storybook.log
.DS_Store
.env
.cache
yarn-error.log
chromatic.log

# yarn 4
.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

test-archives
**/playwright-report/
**/playwright/.cache/
packages/playwright/test-results/
packages/cypress/tests/cypress/downloads/
packages/cypress/tests/cypress/test-downloads/
packages/*/coverage/

test-results/
